%body.show
  = render "buyers/second_header"
  .login-main
    .login-panel
      .login-no-account
        %p アカウントをお持ちでない方はこちら
        = link_to new_user_registration_path do
          新規会員登録
      .login-form-inner-sns
        %button.btn-sns-facebook
          %i.fab.fa-facebook-square
          Facebookでログイン
        %button.btn-sns-google
          = image_tag "Google__G__Logo.svg"
          Googleでログイン
      = form_for(resource, as: resource_name, url: session_path(resource_name)) do |f|
        .login-form-inner
          .form-group
            = f.email_field :email, placeholder: "メールアドレス", class: "login-input-text", value:"", autofocus: true
          .form-group
            = f.password_field :password, placeholder: "パスワード", class: "login-input-text", autocomplete: "off"
          -# .form-group
          -#   .g-recaptcha.login-captcha{"data-sitekey": "6LfZGCYTAAAAAHoK-s7Lg5OdYg5Fq4susvALmZoc"}
          -#     %div{style: "width: 304px; height: 78px;"}
          -#       %div
          -#         %iframe{frameborder: "0", height: "78", name: "a-a67tzavbtwl5", role: "presentation", sandbox: "allow-forms allow-popups allow-same-origin allow-scripts allow-top-navigation allow-modals allow-popups-to-escape-sandbox", scrolling: "no", src: "https://www.google.com/recaptcha/api2/anchor?ar=2&k=6LfZGCYTAAAAAHoK-s7Lg5OdYg5Fq4susvALmZoc&co=aHR0cHM6Ly93d3cubWVyY2FyaS5jb206NDQz&hl=ja&v=f1wAZV34wmOO4-wA3kszbUcM&size=normal&cb=7dzc672vq44k", width: "304"}
          -#       %textarea#g-recaptcha-response.g-recaptcha-response{name: "g-recaptcha-response", style: "width: 250px; height: 40px; border: 1px solid rgb(193, 193, 193); margin: 10px 25px; padding: 0px; resize: none; display: none;"}
          = f.submit "ログイン", class: "login-submit"
          =link_to 'https://www.mercari.com/jp/password/reset/start/' do
            パスワードをお忘れの方
  = render "buyers/second_footer"
