.register-credit-content
  .i-chapter-head
    クレジットカード情報入力
  = form_with(url: pay_user_cards_path, html: { class: 'l-single-inner', name: "inputForm"}) do |f|
    .single-contenttt
      .form-group-regi1
        = f.label "カード番号", class: "labelsize"
        %span.spannn
          必須
        = f.text_field :card_number, id: "card_number", placeholder: '半角数字のみ'
        %ul.creditcard-list
          %li
            = image_tag "visa.svg", alt: "visa", class: "visac"
          %li
            = image_tag "master.svg", alt: "master", class: "masterc"
          %li
            = image_tag "saison.svg", alt: "saison", class: "saisonc"
          %li
            = image_tag "jcb.svg", alt: "jcb", class: "jcbc"
          %li
            = image_tag "ameexp.svg", alt: "ameexp", class: "ameexpc"
          %li
            = image_tag "dinersclub.svg", alt: "diners", class: "dinersc"
          %li
            = image_tag "discover.svg", alt: "discover", class: "discoverc"
      .form-group-regi2
        = f.label "有効期限", class: "labelsize"
        %span.spannn
          必須
        .selectym
          .selectm  
            = f.select :exp_month, [["01","01"], ["02", "02"], ["03", "03"], ["04", "04"], ["05", "05"], ["06", "06"], ["07", "07"], ["08", "08"], ["09", "09"], ["10", "10"], ["11", "11"], ["12", "12"]], id: "exp_month"
            %span.ymtext
              月
          .selectm
            = f.select :exp_year, [["2020","2020"], ["2021", "2021"], ["2022", "2022"], ["2023", "2023"], ["2024", "2024"], ["2025", "2025"], ["2026", "2026"], ["2027", "2027"], ["2028", "2028"], ["2029", "2029"], ["2030", "2030"]], id: "exp_year"
            %span.ymtext
              年
      .form-group-regi3
        = f.label "セキュリティーコード", class: "labelsize"
        %span.spannn
          必須
        = f.text_field :number, id: "cvc", class: "inputtt", placeholder: 'カード背面4桁もしくは3桁の番号'
        .signup-seqcode
          %span.credit-question
            ?
          カードの裏面の番号とは？
      = f.submit "追加する", id: "token_submit"
      

