.category_list
  .parents_list
    - @parents.each do |parent|
      = link_to "#{parent.name}", categories_path(parent), class: "parent_category",id: "#{parent.id}"
  .children_list
  .grand_children_list

-# .category_list
-#   .parents_list
-#     - @parents.each do |parent|
-#       = link_to "#{parent.name}", categories_path(parent), class: "parent_category",id: "#{parent.id}"
-#   .children_list
-#     - parent.children.each do |child|
-#       %li.children__list
-#         =link_to child.name
-#   .grand_children_list