%nav.bread-crumbs
  %ul
    %li
      = link_to root_path do
        FURIMA
    %li
      %i.fa.fa-angle-right
    %li
      = link_to "#" do
        ベビー・キッズ 
    %li
      %i.fa.fa-angle-right
    %li
      = link_to "#" do
        ベビー服(男女兼用)  ~95cm
    %li
      %i.fa.fa-angle-right
    %li
      = link_to "#" do
        アウター
    %li
      %i.fa.fa-angle-right
    %li
      %p product3
.main
  .show-main
    .content-leftqq
    .content-right
      .top-content
        .item-box
          %h2.item-box__name 
            = @product.name
          .item-box__body
            .product-detail__top__item-image
              .product-detail__top__item-image-main
                - @product.images.each_with_index do |img,i|
                  = image_tag(img.image_url.url, size: '300x300', class: "product-detail__top__item-image-main--photo" )
            
              
                .product-detail__top__item-image-list
                  - @product.images.each_with_index do |img, i|
                    .product-detail__top__item-image-list__inner
                      = image_tag(img.image_url.url, size: '60x60',class: "childimage")
                
                -# soldの見た目が完成した際、追加で書こうと思っている箇所で、残してます！
            -# - if @product.status != 0
            -#   .product-detail__top__item-image--sold-out
            -#   .product-detail__top__item-image--sold-text SOLD
                
          .item-box__price
            %span.price
              = @product.price
            .item-box__price-detail
              %span
                (税込)
              %span
                送料込み
          .item-box-btn
            - if user_signed_in? && current_user.id == @product.saler_id
              = link_to "編集", edit_product_path(@product.id), method: :get, class: "item-box-btn-edit"
              = link_to "削除", product_path(@product.id), method: :delete, class: "item-box-btn-delete"
            - else
              = link_to "購入画面に進む", product_buyers_path(product_id: @product.id) , class: "item-box-btn__buy-btn"
        

          .item-detail 
            = @product.detail
          .item-table
            %table
              %tbody
                %tr
                  %th 出品者
                  %td
                    -# = link_to users_path, class: "user-nickname" do   他人のユーザーページを見れるようにするなら追加予定
                    = @product.saler.nickname
                %tr
                  %th カテゴリー
                  %td
                    = link_to "#{@parent.name}", "#", class: "parent-category"
                    %br/
                    = link_to "＞#{@child.name}", "#", class: "child-category"
                    %br/
                    = link_to "＞#{@grandchild.name}", "#", class: "grandchild-category"
                %tr
                  %th ブランド
                  %td
                    = link_to "#{@product.brand}", "#", class: "brand-link"
                %tr
                  %th 商品のサイズ
                  %td
                %tr
                  %th 商品の状態
                  %td
                    = @product.condition.name
                %tr
                  %th 配送料の負担
                  %td 
                    = @product.shipping_fee.name
                %tr
                  %th 発送元の地域
                  %td
                    = @product.shipping_s_area.name
                %tr
                  %th 発送日の目安
                  %td 
                    = @product.shipping_date.name
          .optional-area
            %ul
              %li#like-btn.optional-btn.like-btn
                %i.fa.fa-star
                お気に入り 0
            %ul.optional
              %li.optional-btn
                = link_to "#" do
                  %i.fa.fa-flag
                  不適切な商品の通報
        .comment-box
          %ul.comment-contents
          %form#new_comment.new_comment{"accept-charset": "UTF-8", action: "#", method: "post"}
            %input{name: "utf8", type: "hidden", value: "✓"}/
            %input{name: "authenticity_token", type: "hidden", value: "aScmfsUqT6xXatRbtxcy8VbxlC2H6FFq2LvbiaqvGa5nutylrRYZSrqEOhOdxeiGnSEHKyhDQo2AOKwxeex4PA=="}/
            %textarea#comment_body{name: "comment[body]", required: "required"}
            %p.notice-msg
              相手のことを考え丁寧なコメントを心がけましょう。
              %br/
              不快な言葉遣いなどは利用制限や退会処分となることがあります。
            %br/
            %button.comment-btn{name: "button", type: "submit"}
              %i.fa.fa-comment
              コメントする
      %ul.links
        %li
          = link_to "#" do
            %i.fa.fa-angle-left
            %span
            前の商品
        %li
          = link_to "#" do
            %span 後ろの商品
            %i.fa.fa-angle-right
      .related-items
        = link_to "#" do
          ベビー・キッズをもっと見る
        .product-lists
