%header.pcHeader
  .headerInner
    .mainHeader
      %h1.m-h_icon
        = link_to root_path do
          = image_tag "logo.png"
     
      .searchBox
        %form{"accept-charset": "UTF-8", action:"#", method:"get"}
          %input{name:"utf8",type:"hidden",value:"✓"}/
          %input#searchInput.searchBox__input{name:"key", placeholder:"キーワードから探す"}/
          %button{type:"submit"}
            .searchBox__icon 
              = image_tag "icon-search 1.png"
          %input{name:"authenticity_token", type:"hidden", value:"SSuOmGK1w/I26KuBb26X15s7ogBn1Xg/zZ0X0iUaurgeXwHcMYyu5WAn7FMHSQVqNndbczep7xjkiyrYNwgkUA=="}/
      %ul.resultLists

    .nav
      %ul.listsLeft
        %li
          = link_to "#", id:"catBtn" do
            = icon('fas', 'list-ul', class: 'h-n-l_icon')
            カテゴリーから探す
        %li
          = link_to "#", id:"brandBtn" do
            = icon('fas', 'tag', class: 'h-n-l_icon')
            ブランドから探す
          

      %ul.listsRight
        %li.listsRight__login
          = link_to new_user_session_path do
            ログイン
        %li.listsRight__new
          = link_to new_user_registration_path do
            新規会員登録
  
