%header.pcHeader
  .headerInner
    .mainHeader
      %h1.icon
        = link_to "/" do
          = image_tag "logo.png"
     
      .searchBox
        %form{"accept-charset": "UTF-8", action:"#", method:"get"}
          %input{name:"utf8",type:"hidden",value:"✓"}/
          %input#searchInput.searchBox__input{name:"key", placeholder:"キーワードから探す"}/
          %button{type:"submit"}
            .searchBox__icon 
              = image_tag "icon-search 1.png"
          %input{name:"authenticity_token", type:"hidden", value:"SSuOmGK1w/I26KuBb26X15s7ogBn1Xg/zZ0X0iUaurgeXwHcMYyu5WAn7FMHSQVqNndbczep7xjkiyrYNwgkUA=="}/
      %ul.resultLists
    .nav
      %ul.listsLeft
        %li.listsLeft__item.listsLeft__item--first
          = link_to "#", id:"catBtn" do
            カテゴリー
        %li.listsLeft__item
          = link_to "#", id:"brandBtn" do
            ブランド
          %ul.brandsPulldown.displayNone
      %ul.listsRight
        %li.listsRight__item.listsRight__item--login
          = link_to "#" do 
            ログイン
        %li.listsRight__item.listsRight__item--new
          = link_to "#" do 
            新規会員登録
  
