%body.sell_page
  .sell-page-main
    .form
      = form_for @product do |f|
        .form__header
          .form__header__contents
            .photos_1
              %label 出品画像
              %span 必須
            %p.photos_2
              最大10枚までアップロードできます

            -# %label{for:"aaa"}
            -#   .photos_3
            -#     = icon('fas', 'camera', class: 'icon')
            -#     .photos_3_intext
            -#       ドラッグアンドドロップ
            -#       %br
            -#       またはクリックしてファイルをアップロード

            #image-box
              #previews
                - if @product.persisted?
                  - @product.images.each_with_index do |image, i|
                    = image_tag image.src.url, data: { index: i }, width: "100", height: '100'
              = f.fields_for :images do |image|
                .js-file_group{"data-index":"#{image.index}"}
                  = image.file_field :src, type: 'file', class: 'js-file', style: "display:none", id:"aaa", name: "item[images_attributes][][image_url]", value:""
                  %label{for: "aaa"}
                    .photos_3
                      = icon('fas', 'camera', class: 'icon')
                      .photos_3_intext
                        ドラッグアンドドロップ
                        %br
                        またはクリックしてファイルをアップロード
              

        %hr.form__underbar

        .form__product_name
          .form__product_name__1
            %div{name:"name"}
            .form_Label
              %label 商品名
              %span 必須
            .input_area
              = f.text_field :name, class: "p_name_input", placeholder: "40文字まで"

          .form__product_name__2
            %div{name:"name"}
              .form_Label
                %label 商品の説明
                %span 必須
              .form_counter
                = f.text_area :name, class: "p_textarea", placeholder:"商品の説明（必須 1,000文字以内）\n（色、素材、重さ、定価、注意点など）\n\n例）2010年頃に1万円で購入したジャケットです。ライトグレーで傷はありません。あわせやすいのでおすすめです。", onkeyup:"ShowLength(value)"
                %span#inputlength 0/1000


        %hr.form__underbar


        .form__product_detail
          %p 商品の詳細
          .listing-form-box.detail_1
            .listing-product-detail__category.formLabel
              = f.label 'カテゴリー', class: 'listing-default__label'
              %span.style_tag.listing-default--require 必須
              .listing-select-wrapper.select_area
                .listing-select-wrapper__box
                  = f.select :category, @category_parent_array, {}, {class: 'listing-select-wrapper__box--select', id: 'parent_category'}
                  %i.fas.fa-chevron-down.listing-select-wrapper__box--arrow-down
           
            
          .detail_2
            .formLabel
              %label ブランド
              %span.style_tag 任意
            
            -# .textField
            -#   .input_area
            -#     = f.text_field :brand_id, placeholder: "例）シャネル", class: "b_input", id: "input_brand_box"
            -#       = f.hidden_field :brand_id

          .detail_3
            .formLabel
              %label 商品の状態
              %span.style 必須
            
        -#     .select_area
        -#       = f.select :condition, Item.conditions.keys.to_a, {prompt: "---"}, class: "s_select"
        -#       -# %select{name:"itemCondition"}
        -#       -#   %option{"aria-selected":"true", label:"選択してください", selected:"selected", value:""} 選択してください
        -#       -#   %option{"aria-selected":"false", label:"新品、未使用", value:"1"} 新品、未使用
        -#       -#   %option{"aria-selected":"false", label:"未使用に近い", value:"2"} 未使用に近い
        -#       -#   %option{"aria-selected":"false", label:"目立った傷や汚れなし", value:"3"} 目立った傷や汚れなし
        -#       -#   %option{"aria-selected":"false", label:"やや傷や汚れあり", value:"4"} やや傷や汚れあり
        -#       -#   %option{"aria-selected":"false", label:"傷や汚れあり", value:"5"} 傷や汚れあり
        -#       -#   %option{"aria-selected":"false", label:"全体的に状態が悪い", value:"6"} 全体的に状態が悪い

        -#       -# %svg{"aria-hidden":"true", fill: "#888888", "fill-rule":"evenodd", height: "24", viewbox: "0 0 24 24", width:"24"}
        -#       -#   %path{d:"M12,15.66a1.73,1.73,0,0,1-1.2-.49L5.21,9.54a.7.7,0,0,1,1-1l5.62,5.62c.15.15.27.15.41,0L17.8,8.6a.71.71,0,0,1,1,0,.69.69,0,0,1,0,1l-5.57,5.58A1.71,1.71,0,0,1,12,15.66Z"}
        %hr.form__underbar

        .form__delivery
          %p.sc-cJOK.izFmkF
            配送について
            =link_to "/jp/help_center/article/68/", rel: "noopener noreferrer", target:"_blank" do
              %svg.sc-jKmXuR.kYZnPJ{"aria-hidden":"true", fill: "#222222", "fill-rule":"evenodd", height: "24", viewbox: "0 0 24 24", width:"24"}
                %path{d:"M12,2A10,10,0,1,0,22,12,10,10,0,0,0,12,2Zm0,18.6A8.6,8.6,0,1,1,20.6,12,8.61,8.61,0,0,1,12,20.6Z"}
                %path{d:"M14.18,7.52A2.72,2.72,0,0,0,13.25,7a3.16,3.16,0,0,0-1.17-.2A3.12,3.12,0,0,0,10,7.43,2.92,2.92,0,0,0,9,9.27c0,.12,0,.18.12.19l1.4.22c.09,0,.15,0,.17-.13a1.63,1.63,0,0,1,.44-.91A1.2,1.2,0,0,1,12,8.31a1.17,1.17,0,0,1,.88.33,1.15,1.15,0,0,1,.33.83,1.62,1.62,0,0,1-.12.61,3.46,3.46,0,0,1-.41.67l-1.23,1.67a2.53,2.53,0,0,0-.31.58,2.51,2.51,0,0,0-.09.75v.63a.14.14,0,0,0,.16.16h1.44a.14.14,0,0,0,.16-.16v-.45a1.7,1.7,0,0,1,.07-.56,1.31,1.31,0,0,1,.24-.42l1.22-1.67A2.93,2.93,0,0,0,15,9.46a2.62,2.62,0,0,0-.22-1.09A2.43,2.43,0,0,0,14.18,7.52Z"}
                %circle{cx:"12", cy:"16.24", r:"1"}

          .delivery_1
            %div{name:"shippingPayer"}
              .formLabel
                %label 配送料の負担
                %span 必須
          
        -#       .select_area
        -#         = f.select :shipping_price, Item.shipping_prices.keys.to_a, {}, class: "shipping_selict"
               
        -#         -# %select{name:"shippingPayer"}
        -#         -#   %option{"aria-selected":"true", label:"選択してください", selected:"selected", value:""} 選択してください
        -#         -#   %option{"aria-selected":"false", label:"送料込み(出品者負担)", value:"2"} 送料込み(出品者負担)
        -#         -#   %option{"aria-selected":"false", label:"着払い(購入者負担)", value:"1"} 着払い(購入者負担)

        -#         %svg{"aria-hidden":"true", fill: "#888888", "fill-rule":"evenodd", height: "24", viewbox: "0 0 24 24", width:"24"}
        -#           %path{d:"M12,15.66a1.73,1.73,0,0,1-1.2-.49L5.21,9.54a.7.7,0,0,1,1-1l5.62,5.62c.15.15.27.15.41,0L17.8,8.6a.71.71,0,0,1,1,0,.69.69,0,0,1,0,1l-5.57,5.58A1.71,1.71,0,0,1,12,15.66Z"}

        -#   .delivery_2
        -#     .div{name:"shippingFromArea"}
        -#       .formLabel
        -#         %label 発送元の地域
        -#         %span 必須
            
        -#       .select_area
        -#         = f.collection_select :shipping_area, Prefecture.all, :id, :name, {}, class: "hassou_moto"
            
        -#         -# %select{name:"shippingFromArea"}
        -#         -#   %option{"aria-selected":"true", label:"選択してください", selected:"selected", value:""} 選択してください
        -#         -#   %option{"aria-selected":"false", label:"北海道", value:"1"} 北海道
        -#         -#   %option{"aria-selected":"false", label:"青森県", value:"2"} 青森県
        -#         -#   %option{"aria-selected":"false", label:"岩手県", value:"3"} 岩手県
        -#         -#   %option{"aria-selected":"false", label:"宮城県", value:"4"} 宮城県
        -#         -#   %option{"aria-selected":"false", label:"秋田県", value:"5"} 秋田県
        -#         -#   %option{"aria-selected":"false", label:"山形県", value:"6"} 山形県
        -#         -#   %option{"aria-selected":"false", label:"福島県", value:"7"} 福島県
        -#         -#   %option{"aria-selected":"false", label:"茨城県", value:"8"} 茨城県
        -#         -#   %option{"aria-selected":"false", label:"栃木県", value:"9"} 栃木県
        -#         -#   %option{"aria-selected":"false", label:"群馬県", value:"10"} 群馬県
        -#         -#   %option{"aria-selected":"false", label:"埼玉県", value:"11"} 埼玉県
        -#         -#   %option{"aria-selected":"false", label:"千葉県", value:"12"} 千葉県
        -#         -#   %option{"aria-selected":"false", label:"東京都", value:"13"} 東京都
        -#         -#   %option{"aria-selected":"false", label:"神奈川県", value:"14"} 神奈川県
        -#         -#   %option{"aria-selected":"false", label:"新潟県", value:"15"} 新潟県
        -#         -#   %option{"aria-selected":"false", label:"富山県", value:"16"} 富山県
        -#         -#   %option{"aria-selected":"false", label:"石川県", value:"17"} 石川県
        -#         -#   %option{"aria-selected":"false", label:"福井県", value:"18"} 福井県
        -#         -#   %option{"aria-selected":"false", label:"山梨県", value:"19"} 山梨県
        -#         -#   %option{"aria-selected":"false", label:"長野県", value:"20"} 長野県
        -#         -#   %option{"aria-selected":"false", label:"岐阜県", value:"21"} 岐阜県
        -#         -#   %option{"aria-selected":"false", label:"静岡県", value:"22"} 静岡県
        -#         -#   %option{"aria-selected":"false", label:"愛知県", value:"23"} 愛知県
        -#         -#   %option{"aria-selected":"false", label:"三重県", value:"24"} 三重県
        -#         -#   %option{"aria-selected":"false", label:"滋賀県", value:"25"} 滋賀県
        -#         -#   %option{"aria-selected":"false", label:"京都府", value:"26"} 京都府
        -#         -#   %option{"aria-selected":"false", label:"大阪府", value:"27"} 大阪府
        -#         -#   %option{"aria-selected":"false", label:"兵庫県", value:"28"} 兵庫県
        -#         -#   %option{"aria-selected":"false", label:"奈良県", value:"29"} 奈良県
        -#         -#   %option{"aria-selected":"false", label:"和歌山県", value:"30"} 和歌山県
        -#         -#   %option{"aria-selected":"false", label:"鳥取県", value:"31"} 鳥取県
        -#         -#   %option{"aria-selected":"false", label:"島根県", value:"32"} 島根県
        -#         -#   %option{"aria-selected":"false", label:"岡山県", value:"33"} 岡山県
        -#         -#   %option{"aria-selected":"false", label:"広島県", value:"34"} 広島県
        -#         -#   %option{"aria-selected":"false", label:"山口県", value:"35"} 山口県
        -#         -#   %option{"aria-selected":"false", label:"徳島県", value:"36"} 徳島県
        -#         -#   %option{"aria-selected":"false", label:"香川県", value:"37"} 香川県
        -#         -#   %option{"aria-selected":"false", label:"愛媛県", value:"38"} 愛媛県
        -#         -#   %option{"aria-selected":"false", label:"高知県", value:"39"} 高知県
        -#         -#   %option{"aria-selected":"false", label:"福岡県", value:"40"} 福岡県
        -#         -#   %option{"aria-selected":"false", label:"佐賀県", value:"41"} 佐賀県
        -#         -#   %option{"aria-selected":"false", label:"長崎県", value:"42"} 長崎県
        -#         -#   %option{"aria-selected":"false", label:"熊本県", value:"43"} 熊本県
        -#         -#   %option{"aria-selected":"false", label:"大分県", value:"44"} 大分県
        -#         -#   %option{"aria-selected":"false", label:"宮崎県", value:"45"} 宮崎県
        -#         -#   %option{"aria-selected":"false", label:"鹿児島県", value:"46"} 鹿児島県
        -#         -#   %option{"aria-selected":"false", label:"沖縄県", value:"47"} 沖縄県
        -#         -#   %option{"aria-selected":"false", label:"未定", value:"99"} 未定

        -#         %svg{"aria-hidden":"true", fill: "#888888", "fill-rule":"evenodd", height: "24", viewbox: "0 0 24 24", width:"24"}
        -#           %path{d:"M12,15.66a1.73,1.73,0,0,1-1.2-.49L5.21,9.54a.7.7,0,0,1,1-1l5.62,5.62c.15.15.27.15.41,0L17.8,8.6a.71.71,0,0,1,1,0,.69.69,0,0,1,0,1l-5.57,5.58A1.71,1.71,0,0,1,12,15.66Z"}

        -#   .delivery_3
        -#     %div{name:"shippingDuration"}
        -#       .formLabel
        -#         %label 発送までの日数
        -#         %span.style_tag__xA80S.style_attention__3ULCL.style_small__2vSa8.common_fontFamily__3-3Si 必須
            
        -#       .select_area
        -#         = f.select :shipping_date, Item.shipping_dates.keys.to_a, {}, class: "send_date"
       
        -#         -# %select{name:"shippingDuration"}
        -#         -#   %option{"aria-selected":"true", label:"選択してください", selected:"selected", value:""} 選択してください
        -#         -#   %option{"aria-selected":"false", label:"1~2日で発送", value:"1"} 1~2日で発送
        -#         -#   %option{"aria-selected":"false", label:"2~3日で発送", value:"2"} 2~3日で発送
        -#         -#   %option{"aria-selected":"false", label:"4~7日で発送", value:"3"} 4~7日で発送

        -#         %svg{"aria-hidden":"true", fill: "#888888", "fill-rule":"evenodd", height: "24", viewbox: "0 0 24 24", width:"24"}
        -#           %path{d:"M12,15.66a1.73,1.73,0,0,1-1.2-.49L5.21,9.54a.7.7,0,0,1,1-1l5.62,5.62c.15.15.27.15.41,0L17.8,8.6a.71.71,0,0,1,1,0,.69.69,0,0,1,0,1l-5.57,5.58A1.71,1.71,0,0,1,12,15.66Z"}

        -# %hr.form__underbar

        -# .form__price
        -#   %p.price_yourself
        -#     価格（¥300〜9,999,999）
        -#     =link_to "/jp/help_center/article/64/", rel: "noopener noreferrer", target:"_blank" do
        -#       %svg.sc-erNlkL.dmMAFb{"aria-hidden":"true", fill: "#222222", "fill-rule":"evenodd", height: "24", viewbox: "0 0 24 24", width:"24"}
        -#         %path{d:"M12,2A10,10,0,1,0,22,12,10,10,0,0,0,12,2Zm0,18.6A8.6,8.6,0,1,1,20.6,12,8.61,8.61,0,0,1,12,20.6Z"}
        -#         %path{d:"M14.18,7.52A2.72,2.72,0,0,0,13.25,7a3.16,3.16,0,0,0-1.17-.2A3.12,3.12,0,0,0,10,7.43,2.92,2.92,0,0,0,9,9.27c0,.12,0,.18.12.19l1.4.22c.09,0,.15,0,.17-.13a1.63,1.63,0,0,1,.44-.91A1.2,1.2,0,0,1,12,8.31a1.17,1.17,0,0,1,.88.33,1.15,1.15,0,0,1,.33.83,1.62,1.62,0,0,1-.12.61,3.46,3.46,0,0,1-.41.67l-1.23,1.67a2.53,2.53,0,0,0-.31.58,2.51,2.51,0,0,0-.09.75v.63a.14.14,0,0,0,.16.16h1.44a.14.14,0,0,0,.16-.16v-.45a1.7,1.7,0,0,1,.07-.56,1.31,1.31,0,0,1,.24-.42l1.22-1.67A2.93,2.93,0,0,0,15,9.46a2.62,2.62,0,0,0-.22-1.09A2.43,2.43,0,0,0,14.18,7.52Z"}
        -#         %circle{cx:"12", cy:"16.24", r:"1"}

        -#   .price_1
        -#     .price_1__left{name:"price"}
        -#       .formLabel 
        -#         %label 販売価格
        -#         %span 必須
              
            
        -#     .textField
        -#       %span ¥ 
        -#       .input_area
        -#         = f.text_field :price, placeholder: "0", class: "price_input", id: "item_price"
                
        -#   .price_2  
        -#     .product_price-fee 販売手数料（10%）
        -#     .right_bar ー

        -#   %hr.form__underbar

        -#   .price_3
        -#     .product_profit 販売利益
        -#     .right_bar_2 ー

        -#   .price_4
        -#     %button{type:"submit"} 
        -#     = link_to '出品する', sells_path
        -#     %br/
        -#     =link_to root_path do
        -#       もどる
            
        -#   %p.attention
        -#     禁止されている
        -#     =link_to "/jp/help_center/getting_started/prohibited_conduct/", rel: "noopener noreferrer", target:"_blank" do
        -#       行為
        -#     および
        -#     =link_to "/jp/help_center/getting_started/prohibited_items/", rel: "noopener noreferrer", target:"_blank" do
        -#       出品物
        -#     を必ずご確認ください。
        -#     =link_to "/jp/help_center/getting_started/counterfeit_goods/", rel: "noopener noreferrer", target:"_blank" do
        -#       偽ブランド品
        -#     や
        -#     =link_to "/jp/help_center/getting_started/report_counterfeit_goods/", rel: "noopener noreferrer", target:"_blank" do
        -#       盗品物
        -#     などの販売は犯罪であり、法律により処罰される可能性があります。 また、出品をもちまして
        -#     =link_to "/jp/seller_terms/", rel: "noopener noreferrer", target:"_blank" do
        -#       加盟店規約に同意したことになります。
