.main
  %section.visual
    .content
      %h2.content__subtitle
        %br/
        人生を変えるフリマアプリ
      %p.content__text
        FURIMAはだれでもかんたんに出品・購入できる
        %br/
        フリマアプリです
      .content__btn
        =link_to 'https://www.apple.com/jp/', class: "content__btn__a-btn" do
          = image_tag 'app-store-9c5e28e8f81bd9912e0ded2f78821e04778a1356c05dc7c7bf1e88614be37c34.svg'
        =link_to 'https://play.google.com/store?hl=ja', class: "content__btn__g-btn" do
          = image_tag 'google-play-469c63f1269e456307c4dde176b33cc3bbbbf142ac4d7369656010130149db1a.svg'
    .picture
  %section.top-introduction
    %h2.subtitle
      FURIMAが選ばれる3つの理由
    %ul.lists
      %li.list
        .list__pict
          %span.list__pict__number 1
          = image_tag 'pict-reason-01.jpg'
        %h3.list__text
          %span 3分
          ですぐに出品
        %p.list__description
          スマホで入力するだけで簡単に出品できる！
      %li.list
        .list__pict
          %span.list__pict__number 2
          = image_tag 'pict-reason-02.jpg'
        %h3.list__text
          %span シンプル
          で使いやすい
        %p.list__description
          めんどくさい入力は必要なく、検索も購入もスムーズ！
      %li.list__last
        .list__pict
          %span.list__pict__number 3
          = image_tag 'pict-reason-03.jpg'
        %h3.list__text
          手数料
          %span 業界最安
        %p.list__description
          最大3%でお得に出品&amp;購入！
  
  %section.top-middle-dl
    .inner
      %h2.inner__subtitle 会員数日本一位
      %p.inner__text
        FURIMAは、フリマアプリで最も人気。
        %br/
        出品・購入回数も業界最多です！
        %br/
        ほしかったあの商品に出会えるかもしれません。
      .inner__btn
        = link_to 'https://www.apple.com/jp/' do
          = image_tag 'app-store-9c5e28e8f81bd9912e0ded2f78821e04778a1356c05dc7c7bf1e88614be37c34.svg'
        = link_to 'https://play.google.com/store?hl=ja' do
          = image_tag 'google-play-469c63f1269e456307c4dde176b33cc3bbbbf142ac4d7369656010130149db1a.svg'
  
  %section.top-key-features
    %h2.head FURIMAの特徴
    .items
      %section.item
        %figure.item__img
          = image_tag 'icon-01.png'
        %h3.item__subtitle 簡単に売り買いできる
        %p.item__detail
          スマホひとつで、いつでもどこでも簡単に出品・購入が可能！
      %section.item
        %figure.item__img
          = image_tag 'icon-02.png'
        %h3.item__subtitle 売上金は即日振込みに対応
        %p.item__detail
          午前9時までに振込を依頼いただければ、翌日に指定の口座に入金いたします!
      %section.item
        %figure.item__img
          = image_tag 'icon-03.png'
        %h3.item__subtitle 様々な支払いに対応
        %p.item__detail
          お支払いは、クレジットカードだけでなく、ポイントや売上金など多彩な方法があります。
      
  %section.pickup-container
    %h2.head ピックアップカテゴリー
    .product-box
      .product-head
        = link_to '#' do
          %h3.title レディース新着アイテム
      %ul.product-lists
        - @cat_no1.each do |product|
          %li.list
            - if user_signed_in? && current_user.id == product.saler_id
              = link_to edit_product_path(product.id) do
                %figure.list__img
                  = image_tag "#{product.images[0].image_url.url}"
                .list__body
                  %h3.name 
                    = product.name
                  .details
                    %ul
                      %li
                        = "¥#{product.price}"
                      %li
                        %i.fas.fa-star.like-icon
                        0
                    %p (税込)
            - else
              = link_to product_path(product.id) do
                %figure.list__img
                  = image_tag "#{product.images[0].image_url.url}"
                .list__body
                  %h3.name 
                    = product.name
                  .details
                    %ul
                      %li
                        = "¥#{product.price}"
                      %li
                        %i.fas.fa-star.like-icon
                        0
                    %p (税込)
      