.wrapper
  = render "header_login"
  .bread-crumbsss
    %ul.breadcrumbss
      %li.breadcrumbss-item
        =link_to root_path, class:"pastlist" do
          トップページ
        %i#bread-arrow
        %li.breadcrumbss-item
        =link_to "#", class:"pastlist" do
          = @parent.name
        %i#bread-arrow
        %li.breadcrumbss-item
        =link_to "#", class:"pastlist" do
          = @child.name
        %i#bread-arrow
        %li.breadcrumbss-item
        =link_to "#", class:"pastlist" do
          = @grandchild.name
        %i#bread-arrow
      %li.breadcrumbss-item.active{"aria-current" => "page"} 
        = @product.name
  .main
    .show-main
      .content-leftqq
      .content-right
        .top-content
          .item-box
            %h2.item-box__name 
              = @product.name
            .item-box__body
              .product-detail__top__item-image
                .product-detail__top__item-image-main
                  - @product.images.each_with_index do |img,i|
                    = image_tag(img.image_url.url, size: '300x300', class: "product-detail__top__item-image-main--photo" )
                  -# 詳細画面にもsoldを追加予定
                  -if @product.buyer_id.present? 
                    .product-box_photo__sold
                      .product-box_photo__sold__inner
                        SOLD
                
                  .product-detail__top__item-image-list
                    - @product.images.each_with_index do |img, i|
                      .product-detail__top__item-image-list__inner
                        = image_tag(img.image_url.url, size: '60x60',class: "childimage")
                  
            .item-box__price
              %span.price
                = "¥#{@product.price}"
              .item-box__price-detail
                %span
                  (税込)
                %span
                  送料込み
            .item-box-btn
              -if @product.buyer_id.present?
                %p.item-box-btn-sold-btn
                  売り切れました
              - else    
                - if user_signed_in? && current_user.id == @product.saler_id
                  = link_to "編集", edit_product_path(@product.id), method: :get, class: "item-box-btn-edit"
                  = link_to "削除", product_path(@product.id), method: :delete, class: "item-box-btn-delete"
                - else
                  = link_to "購入画面に進む", product_buyers_path(product_id: @product.id) , class: "item-box-btn__buy-btn"
          

            .item-detail 
              = @product.detail
            .item-table
              %table
                %tbody
                  %tr
                    %th 出品者
                    %td
                      -# = link_to users_path, class: "user-nickname" do   他人のユーザーページを見れるようにするなら追加予定
                      = @product.saler.nickname
                  %tr
                    %th カテゴリー
                    %td
                      = link_to "#{@parent.name}", "#", class: "parent-category"
                      %br/
                      = link_to "＞#{@child.name}", "#", class: "child-category"
                      %br/
                      = link_to "＞#{@grandchild.name}", "#", class: "grandchild-category"
                  %tr
                    %th ブランド
                    %td
                      = link_to "#{@product.brand}", "#", class: "brand-link"
                  %tr
                    %th 商品のサイズ
                    %td
                  %tr
                    %th 商品の状態
                    %td
                      = @product.condition.name
                  %tr
                    %th 配送料の負担
                    %td 
                      = @product.shipping_fee.name
                  %tr
                    %th 発送元の地域
                    %td
                      = @product.shipping_s_area.name
                  %tr
                    %th 発送日の目安
                    %td 
                      = @product.shipping_date.name
            .optional-area
              %ul
                %li.item-button-container
                  .item-button-container__left
                    = render partial: 'likes/like', locals: { product: @product, products: @products, likes: @likes, like: @like}
              %ul.optional
                %li.optional-btn
                  = link_to "#" do
                    %i.fa.fa-flag
                    不適切な商品の通報
          .messages-boxx
            .message-box
              .message-item
                .clearfix
                  - @product.comments.each do |comment|
                    .message-nickname
                      = comment.user.nickname
                    - if comment.user_id == @product.saler_id
                      .message-saler 
                        出品者

                    %ul.message-body
                      %li.message-body-text
                        = comment.content
                      %li.message-icons
                        %time.message-icon-left
                          = icon('far', 'clock', class: 't-icon')
                          = time_ago_in_words(comment.created_at) + "前"
                          
                        .message-icon-right
                          = icon('far', 'flag', class: 'f-icon')
          
          .comment-box 
            %p.notice-msg
              相手のことを考え丁寧なコメントを心がけましょう。
              %br/
              不快な言葉遣いなどは利用制限や退会処分となることがあります。
            %br/

            - if user_signed_in?
              = form_for @comment, url: product_comments_path(@product)do |f|
                = f.text_area :content, class: "form-content"
                = f.submit "コメントする", class: "comment-btn"
        %ul.links
          %li
            = link_to "#" do
              %i.fa.fa-angle-left
              %span
              前の商品
          %li
            = link_to "#" do
              %span 後ろの商品
              %i.fa.fa-angle-right
        .related-items
          = link_to "#" do
            ベビー・キッズをもっと見る
          .product-lists

  = render "app_banner"
  = render "footer"
